<% title "#{@show.full_name} | Cover" %>
<h2><%= link_to @show.full_name, [@user,@show] %> | Cover</h2>

<br/>
<div>
<%= render :partial => 'cover_full', :locals=>{:cover=>@cover} %>
</div>

<div>
	Source: <%= @cover.entry %>
</div>

<br/>
<%= link_to 'Back to show', user_show_path(@user, @show) %>
